<div align=center>
<button class="select1" routerLink="/spost" ></button>
 <button class="select2" routerLink="/pinfo"></button>
  <button class="select3" routerLink="/pqual"></button>
   <button class="select4" routerLink="/paydetail"></button>
<button class="select5" routerLink="/preview"></button></div>
<div align=left>
<b class="app">APPLY</b>
</div><div class="ris2"><hr></div>
<br>
<div class="ris" align=left>
  SELECT POST
</div>
<div align=left>
Note:&nbsp;
<ul>
<li>Select Job from Dropdown below</li>
<li>This is the first step of Applying Post</li>
<li>Please check your educational qualification and experience before applying</li>
</ul>
</div>
<br>
<div align=center>
<div class="ris3">
Select Post: &nbsp;
<select>
    <option value=0>Select</option>
    <option value=1>Assistant System Engineer</option>
    <option value=2>Job Executive</option>
    <option value=3>Consultant</option>
    <option value=4>Software Developer</option>
  </select>&nbsp;
</div>
<button class="ris4" routerLink="/pinfo">Save and go to Next >> </button></div>
<br>
<div class="ris" align=left>
    Information About Job
  </div>
  <div>
    This job is basically concerned about IT outsourcing and mananging business models.<br>
    Experienced candidates are required who can deploy business models into the growth of the company.<br>
    So, we are in a search of such candidates who can easily help in deploying the business models.<br>
    Experienced people can <b>apply</b> through the form and can mention the mandatory details required. 
    <br><br>
  </div>
  <div class="ris5">
  </div>